.person {
  border: 1px solid gray;
  padding: 1vw;
  margin-bottom: 1vw;
  width: 19%;
}
.person h3 {
  font-size: 2vw;
}
.person img {
  width: 100%
}
.person p {
  font-size: 11px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
}
.person p:last-of-type {
  padding-left: 1rem;
  cursor: pointer;
}
.person p:last-of-type:hover {
  color: purple;
}
.article-button {
  margin: .2rem .1vw;
}
